{erl_opts, [debug_info]}.

{deps, [
    {gun, {git, "https://github.com/ninenines/gun.git", {tag, "2.2.0"}}},
    {poolboy, {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.2"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.2"}}}
]}.

% {plugins, [
%     {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {tag, "0.3.0"}}}
% ]}.

{project_plugins, [
    erlfmt,
    rebar3_ex_doc,
    {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {tag, "0.3.0"}}}
]}.
{erlfmt, [write]}.

{xref_ignores, [gun_pool, {gun_pool_worker, start_link, 1}]}.

{dialyzer, [{plt_file, "dialyzer.plt"}, {add_to_plt, [kernel, stdlib, public_key, ssl, gun_pool]}]}.

{alias, [
    {test, [
        {ct, "--verbose --spec test/config/test.spec --cover --readable true"},
        {cover, "-v"}
    ]},
    {lint, [
        {fmt, "--check"},
        xref,
        dialyzer,
        gradualizer
    ]},
    {doc, [
        {ex_doc, "-f html"}
    ]}
]}.

{profiles, [
    {prod, [
        {erl_opts, [debug_info]}
    ]},
    {test, [
        {erl_opts, [debug_info]},
        {deps, [
            {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.13.0"}}}
        ]}
    ]}
]}.

{ex_doc, [
    {prefix_ref_vsn_with_v, false},
    {extras, [
        {"README.md", #{title => "Overview"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/namespace/your_app"}
]}.

{shell, [
    {apps, [gun_pool]}
]}.
